# Laravel/PHP
/.phpunit.cache
/vendor
.env
.env.backup
.env.production
/storage/*.key
/storage/pail
/public/build
/public/hot
/public/storage
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
composer.lock
*.log

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
env/
venv/
ENV/
.venv/
.pytest_cache/
.mypy_cache/

# Node/JS
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# General Web
.DS_Store
Thumbs.db

# IDEs y Editores
.vscode/
.idea/
.fleet/
.nova/
.zed/
*.sublime-workspace
*.sublime-project
*.swp
*.bak

# Sistema
*.tmp

# Apache / Nginx logs
access.log
error.log

# Auth
/auth.json
